@app.route("/dashboard")
def dashboard():
    if "username" not in session:
        return redirect(url_for("login"))

    username = session["username"]
    key = load_user_key(username)
    filename = f"passwords_{username}.txt"
    passwords = []

    if os.path.exists(filename):
        with open(filename, "r") as f:
            for line in f:
                if "||" in line:
                    site, enc_pass = line.strip().split("||")
                    try:
                        dec_pass = decrypt_password(enc_pass, key)
                        passwords.append({"site": site, "password": dec_pass})
                    except:
                        # skip corrupted password
                        continue

    return render_template("dashboard.html", username=username, passwords=passwords, generate_password=generate_password)
